@use '../variables' as *;

.horizontal-container {
  border: 3px solid $container-border-color;
  border-radius: 2rem;
  display: flex;
  margin: 3rem;
  padding: 3rem;
  box-shadow: $container-box-shadow;
  width: 85%;

  & .list {
    border-radius: $card-left-border-radius;
    flex: 0 0 29%;
    background-color: $card-background-color;
    box-shadow: $card-box-shadow;
    height: fit-content;
  }
  
  & .card {
    flex: 0 0 67%;
    border: $card-border;
    border-radius: $card-right-border-radius;
    background-color: $card-background-color;
    height: fit-content;
    margin-left: 2rem;
    box-shadow: $card-box-shadow;
  }
}
