@use '../variables' as *;

.horizontal-container {
  border: 3px solid $container-border-color;
  border-radius: 2rem;
  display: flex;
  height: max-content;
  margin: 3rem;
  padding: 1rem;
  box-shadow: $container-box-shadow;
  width: 85%;

  & .list {
    border-radius: $card-border-radius;
    flex: 0 0 30%;
    background-color: $card-background-color;
    box-shadow: $card-box-shadow;
    height: 85%;
  }

  & .card {
    flex: 0 0 60%;
    border: $card-border;
    border-radius: $card-right-border-radius;
    background-color: $card-background-color;
    margin-left: 2rem;
    padding: 1rem;
    box-shadow: $card-box-shadow;

    & mat-card {
      margin-bottom: 1rem;
      height: 100%;
      border-radius: 0
    }
  }
}
