// container variabelen
$container-border-style: 2px solid;
$container-border-color: #ccc;
$container-box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.1);


// card variabelen
$card-background-color: #fff;
$card-border: 1px solid #ccc;
$card-border-color: #ccc;
$card-border-radius: 2rem;
$card-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
$card-right-border-radius: 0 1rem 1rem 0;
$alphabet-nav-bg-color: #d5dfea;